@model Arjitha.Models.VendorDetails

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>VendorDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VendorType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VendorType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VendorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VendorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VendorPhoto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VendorPhoto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VendorGps)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VendorGps)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemsAvailable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemsAvailable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VendorContactNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VendorContactNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VendorAlternateConatactNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VendorAlternateConatactNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VendorEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VendorEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VendorAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VendorAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hint)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hint)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Govt_ID_Proof)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Govt_ID_Proof)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VendorID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
