@model IEnumerable<Arjitha.Models.FlatDetails>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Flat_No)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Floor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Block)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FlatBuyDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BHKs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FlatInchargeFirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FlatInchargeLastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FlatInchargeContactNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FlatInchargeAlternateContactNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FlatInchargeEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnnualMaintainaceCharges)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Remarks)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Flat_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Block)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlatBuyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BHKs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlatInchargeFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlatInchargeLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlatInchargeContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlatInchargeAlternateContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlatInchargeEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnnualMaintainaceCharges)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Flat_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Flat_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Flat_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
